@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200&display=swap');
*,
*::before,
*::after
{

  margin:0;
  padding:0%;
  box-sizing: border-box;
}
 
html
{
   font-size:62.3%;
   font-family:"jost",sans-serif;
}

.main_div
{
  width:100vw;
  height:100vh;
  background-color:#f6f6f6;
}

